Source: unity-greeter-badges
Section: unknown
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://gnome-look.org/content/show.php/?content=158764
#Vcs-Git: git://anonscm.debian.org/collab-maint/unity-greeter-badges.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/unity-greeter-badges.git;a=summary

Package: unity-greeter-badges
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
