Source: unity-greeter-badges
Section: misc
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://gnome-look.org/content/show.php/?content=158764
Vcs-Git: https://github.com/d-torrance/unity-greeter-badges.git
Vcs-Browser: https://github.com/d-torrance/unity-greeter-badges

Package: unity-greeter-badges
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
